<!DOCTYPE html>
<html lang="en">
<head>
  {{ $scss := resources.Get "scss/main.scss" }}
  {{ $styles := $scss | resources.ToCSS }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  <title>Raimo Big-Bag Dispenser (USA)</title>

</head>
<body>
  <div>
    <header class="header">
      <div>
        Raimo BIG Bag Dispenser -  USA Distributor
      </div>
      <button id="x">
        ...
      </button>
    </header>
  </div>
  <div class="menu" id="menu">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL | relURL }}">{{ .Name }}</a>
    {{ end }}
  </div>
  <hr/>

<script>
  let button = document.getElementById("x");
  let menu = document.getElementById("menu");
  button.onclick = function() {
    button.textContent = ((button.textContent == "x") ? "..." : "x");
    menu.style.display = menu.style.display == "grid" ? "none" : "grid";
  };
</script>


